---
import RootLayout from "@/layouts/root-layout.astro";
---

<RootLayout
  title="Matheus Santos"
  description="Software engineer building products for the web. Experimenting with delightful experiences in user interfaces."
>
  <main
    class="w-full mx-auto px-5 max-w-(--content-width) py-12 sm:py-20 flex-1"
  >
    <h1 class="text-xl font-medium mb-6">Matheus Santos</h1>
    <p class="text-md">
      <em>Software Engineer</em> building products for the web. Experimenting with
      delightful experiences in user interfaces. Working at <a
        href="https://floki.com"
        target="_blank"
        class="underline-offset-4 decoration-gray-500 underline hover:decoration-gray-0 transition-colors"
        >Floki</a
      >.
    </p>
    <h2 class="mt-12 mb-6 text-md font-medium">Now</h2>
    <p class="mb-4 text-md">
      Developing skills through exploring and building projects. Currently
      studying about animations and UI/UX design.
    </p>
    <p class="text-md">
      Working on a few side projects that will be released soon.
    </p>
    <h2 class="mt-12 mb-6 text-md font-medium">Connect</h2>
    <p class="text-md">
      Reach me at <a
        href="https://www.linkedin.com/in/mathsantos"
        target="_blank"
        class="underline-offset-4 decoration-gray-500 underline hover:decoration-gray-0 transition-colors"
        >LinkedIn</a
      > or <a
        href="mailto:mathsantos.dev@gmail.com"
        target="_blank"
        class="underline-offset-4 decoration-gray-500 underline hover:decoration-gray-0 transition-colors"
        >mathsantos.dev@gmail.com</a
      >.
    </p>
  </main>
  <footer
    class="flex items-center justify-between h-10 mx-auto w-full max-w-(--content-width) px-5 shrink-0"
  >
    <p class="text-sm text-gray-500">
      <em>Not your time, not your life.</em>
    </p>
    <p class="text-sm text-gray-500">
      {new Date().getFullYear()}
    </p>
  </footer>
</RootLayout>
