@import "tailwindcss";

:root {
  --content-width: 640px;
}

@theme inline {
  --color-gray-0: #FFFFFF;
  --color-gray-50: #F7F7F7;
  --color-gray-100: #F5F5F5;
  --color-gray-200: #EBEBEB;
  --color-gray-300: #D1D1D1;
  --color-gray-400: #A3A3A3;
  --color-gray-500: #7B7B7B;
  --color-gray-600: #5C5C5C;
  --color-gray-700: #333333;
  --color-gray-800: #292929;
  --color-gray-900: #1C1C1C;
  --color-gray-950: #171717;
}
 
@layer base {
  body {
    @apply bg-gray-950 text-gray-50;
  }
}